@{
    ViewData["Title"] = "Pokemon!!!";
}
<img src="@ViewBag.Pokemon.image" alt="poke-img">
<p>Name: @ViewBag.Pokemon.name</p>
<p>Type: @ViewBag.Pokemon.type</p>
<p>Weight: @ViewBag.Pokemon.weight</p>
<p>Height: @ViewBag.Pokemon.height</p>
