<h1>@ViewBag.details.Name</h1> <a href="/">Go Home</a>
<h3>Description</h3>
<p>@ViewBag.details.desc</p>
<h3>Trail Length</h3>
<p>@ViewBag.details.length</p>
<h3>Elevation</h3>
<p>@ViewBag.details.elevation</p>
<p>Longitude - @ViewBag.details.longitude</p>
<p>Latitude - @ViewBag.details.latitude</p>